@import "./components/_compnents";
body, html {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    height: auto;
    overflow-x: hidden;
}  
::-webkit-scrollbar{
  width: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: #f37342;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f37342;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}
#main-content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}
.container {
    text-align: center;
}
.show-content #preloader {
    opacity: 0;
    visibility: hidden;
}
.show-content #main-content {
    display: block;
    opacity: 1;
}
.mt-0{
    margin-top: 0;
}
.mb-0{
    margin-bottom: 0;
}
.text-center{
    text-align: center;
}
.printing-dropdown{
  display: flex;
  position: relative;
  justify-content: end;
  top: 10px;
  right: 10px;
  height: 0px;
  .dropdown {
    position: relative;
    display: inline-block;
  
    .dropdown-toggle {
      background-color: #f37342;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      color: white;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .dropdown-menu {
      position: absolute;
      top: 60px;
      right: 0;
      background: #fff;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      padding: 10px 0;
      display: none;
      width: 160px;
      z-index: 1000;
  
      &::before {
        content: '';
        position: absolute;
        top: -10px;
        right: 20px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
      }
  
      .dropdown-item {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        color: #333;
        font-size: 16px;
        cursor: pointer;
  
        i {
          margin-right: 8px;
          font-size: 18px;
        }
  
        &:hover {
          background-color: #f1f3f5;
        }
      }
    }
  
    &.active .dropdown-menu {
      display: block;
    }
  }
}
.offert-plastkort{
    background-color: #ff733c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    color: white;
    .logo{
        margin-top: 27px;
    }
    h1{
        font-family: "Inter", sans-serif;
        font-size: 65px;
        font-size: clamp(37.8px, 29.527px + calc(2.1999999999999997* var(1vw, 1vw)), 56px);
        font-weight: 800;
    }
    p{
        font-size: 18px;
        line-height: 1.5;
    }
}
.signature{
    display: flex;
    justify-content: center;
    .text{
      flex-direction: column;
      gap: 10px;
      width: 630px;
      align-items: center;
      justify-content: center;
      p{
          text-align: left;
          font-family: "Inter", sans-serif;
          font-size: 16px;
          margin-bottom: 0px;
          line-height: 1.5;
          color: #3c3c3c;
      }
      
      .buttons{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 40px 0px;
          .btn-neka{
            margin-left: 1em;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            color: #39424e;
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding:15px 25px 15px 25px;
            background: transparent;
            transition: all 0.2s ease-in-out;
            &:hover{
              background-color: #f3f4f6;
      
            }
          }
        .btn-signera{
          margin-left: 1em;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          color: white;
          font-size: 18px;
          display: flex;
          align-items: center;
          gap: 10px;
          padding:15px 25px 15px 25px;
          background: #2cc01b;
          i{
            font-size: 25px;
            margin-top: -5px;
          }
        }
      }
    }
}
.Plastkort_med_digitaltryck{
  display: flex;
  justify-content: center;
  .text{
    width: 630px;
    p{
      font-size: 16px;
      line-height: 1.5;
      font-family: "Inter", sans-serif;
      strong{
        font-weight: bolder;
      }
    }
  }
}
.stripped-table{
  display: flex;
  margin: 40px 0px;
  justify-content: center;
  .text{
    width: 630px;
    .title {
      display: flex;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 16px;
      color: rgba(0, 0, 0, 0.65);
      gap: 10px;
    }
    .table {
      border: 1px solid #d9dce1;
      overflow: hidden;
    }
  
    .table-row {
      display: flex;
      justify-content: space-between;
      // padding: 14px 28px 7px 28px;
      font-size: 16px;
      margin-bottom: -1px;
      padding: calc(.7* 14px) calc(1.5* 14px);

    }
    .table-row:not(:last-child) {
      border-bottom: 1px solid #d9dce1;
    }
    .right-align {
      text-align: right;
      font-size: calc(1* var(--rem) + 2px);
    font-weight: 600;
      white-space: nowrap;
    }
  } 
}
.grey-table{
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  .text{
    width: 630px;
    .title {
      display: flex;
      font-size: 16px;
      margin-bottom: 16px;
      color: #000000;
      gap: 10px;
    }
    .table {
      background-color: hsla(0, 0%, 0%, 0.05) ;
      overflow: hidden;
    }
  
    .table-row {
      display: flex;
      justify-content: space-between;
      padding: 14px 28px 7px 28px;
      font-size: 16px;
    }
  
   
  
    .total-row {
      font-weight: bold;
      padding: 10px 15px;
      font-size: 18px;
      border-top: 4px solid #333;
      display: flex;
      justify-content: space-between;
    }
  
    .right-align {
      text-align: right;
      white-space: nowrap;
    }
  }
}
.Om_digitaltryck{
  display: flex;
  justify-content: center;
  .text{
    width: 630px;
    h2{
      font-family: Inter;
      font-size: 36px;
      font-weight: 700;
      span{
        color: #f37342;
      }
    }
    p{
      font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color:rgb(17, 17, 17);
  line-height:25px;
    }
    h3{
      font-family: Inter;
      font-size: 21px;
      font-weight: 600;
    }
  }
}
.cards{
  .heading{
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 0.25em;
  }
  .subtitle{
    color: hsla(0, 0%, 35%);
    font-weight: 300;
  }
  .cards-container{
    display: grid;
    justify-content: center;
    margin-top: 70px;
    padding: 0px 76px;
    grid-template-columns: auto auto auto;
    .card{
      width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .card-img{
        img{
          width: 350px;
          height: 350px;
        }
      }
      .card-subtitle{
        text-align: center;
        color: hsla(0, 0%, 35%);
        font-weight: 300; 
      }
    }
  }
}
.parter{
  display: flex;
  justify-content: center;
  .inner-txt{
    width: 630px;
    .title{
      font-size: 24px;
      font-weight: 700;
      position: relative;
      z-index: 1;
      margin-bottom: calc(.5* 14px);
    }
    .subtitle{
    font-weight: 600;
    font-size: calc(1* 14px + 2px);
    margin-bottom: calc(1* 14px);
    align-items: center;
    gap: 10px;
    display: flex;
    .line{
      height: 2px;
      background-color: #0095ff;
      width: 20px;
    }
    }
    .table{
      .half-row{
        display: grid;
        grid-template-columns: auto auto;
        .box{
          border: 1px solid #e1e1e1;
          padding: 10px;
          .label{
            font-size: calc(1* 14px - 1px);
            color: #737373;
            line-height: 1;
            margin-bottom: 3px;
          }
          .data{
            span{
              font-size: 14px;
              padding: calc(.25* var(--rem));
              border-radius: .25em;
            }
          }
        }
      }
      .full-row{
        border: 1px solid #e1e1e1;
        padding: 10px;
        .label{
          font-size: calc(1* 14px - 1px);
          color: #737373;
          line-height: 1;
          margin-bottom: 3px;
        }
        .data{
          span{
            font-size: 14px;
            padding: calc(.25* var(--rem));
            border-radius: .25em;
          }
        }
      }
    }
    .check-text{
      display: flex;
      gap: 10px;
      align-items: center;
      font-size: calc(1* 14px);
      font-weight: 400;
      color: #565e6c;
      i{
        font-size: 17px;
        color: #10ce10;
        font-weight: 600;
      }
    }
  }
}
.pdf_above_description{
display: flex;
margin: 30px 0px;
justify-content: center;
align-items: center;
  .description{
    width: 630px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p{
      line-height: 1.6;
      margin-bottom: 0px;
      strong{
        font-weight: bolder;  
        span{
          color: #5d5d5b;
          font-size: 16px;
          font-family: "Inter", sans-serif;
        }
      }
    }
  }
}
.banner {
  position: relative;
  width: 100%;
  padding: 2rem 1rem;
  .banner-container {
    max-width: 1200px;
    margin: 0 auto;
    .logo-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      .logo-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
        .logo-icon {
          position:relative;
          width: 6.9rem;
          height: 4rem;
          color: #4b5563;
           svg {
            width: 100%;
            height: 100%;
          }
        }
        .logo-name {
          margin-top: 0.5rem;
          font-size: 0.875rem;
          color: #374151;
          font-family: system-ui, -apple-system, sans-serif;
        }
      }
    }
  }
}
.Varför_välja_plastkort{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  .text{
    width: 630px;
    .title{
          font-size: 24px;
          font-weight: 700;
          position: relative;
          z-index: 1;
          margin-bottom: calc(.5* 14px);
    }
    h3{
      span{
        line-height: 1.9;
      }
    }
  }
}
// Responsive
@media(max-width:768px){
  .cards .cards-container {
    grid-template-columns: auto auto;
  }
  .wrapper-logo{
    width: 320px;
  }
}
@media(max-width:576px){
  .pdf_above_description .description {
    width: 500px;
  }
  .parter .inner-txt {
    width: 500px;
  }
  .signature .text {
    width: 500px;
  }
  .content h1 {
    font-size: 2.7rem !important;
  }
  .cards .cards-container {
    grid-template-columns: auto;
}
.Varför_välja_plastkort .text {
  width: 500px;
}
.banner {
  width: 93%;
}
.Om_digitaltryck .text {
  width: 500px;
}
.Plastkort_med_digitaltryck .text {
  width: 500px;
}
.stripped-table .text {
  width: 500px;
}
.grey-table .text {
width: 500px;
}
}
@media(max-width:500px){
  .pdf_above_description .description {
    width: 370px;
  }
  
  .parter .inner-txt {
    width: 370px;
  }
  
  .signature .text {
    width: 370px;
  }
  
  .content h1 {
    font-size: 2rem !important;
  }
  .cards .cards-container {
    grid-template-columns: auto;
}
.Varför_välja_plastkort .text {
  width: 370px;
}
.offert-plastkort h1 {
  font-size: 50px;
}
.banner {
  width: 93%;
}
.Om_digitaltryck .text {
  width: 370px;
}

.Plastkort_med_digitaltryck .text {
  width: 370px;
}

.stripped-table .text {
  width: 370px;
}

.grey-table .text {
width: 370px;
}

}
@media(max-width:430px){
  .offert-plastkort h1 {
    font-size: 50px !important;
  }
  textarea{
    height: 152px;
    margin: 10px 0px;
  }
  .pdf_above_description .description {
    width: 370px;
  }
  .parter .inner-txt {
    width: 370px;
  }
  .signature .text {
    width: 370px;
  }
  .content h1 {
    font-size: 2.7rem !important;
  }
  .cards .cards-container {
    grid-template-columns: auto;
}
.Varför_välja_plastkort .text {
  width: 370px;
}
.banner {
  width: 93%;
}
.cards .subtitle {
  margin: 0px 15px;
}
.Om_digitaltryck .text {
  width: 370px;
}
.Plastkort_med_digitaltryck .text {
  width: 370px;
}
.stripped-table .text {
  width: 370px;
}
.grey-table .text {
width: 370px;
}
}
@media(max-width:425px){
  .offert-plastkort h1 {
    font-size: 50px !important;
  }
  textarea{
    height: 152px;
    margin: 10px 0px;
  }
  .pdf_above_description .description {
    width: 370px;
  }
  .parter .inner-txt {
    width: 370px;
  }
  .signature .text {
    width: 370px;
  }
  .content h1 {
    font-size: 2.7rem !important;
  }
  .cards .cards-container {
    grid-template-columns: auto;
}
.Varför_välja_plastkort .text {
  width: 370px;
}
.banner {
  width: 93%;
}
.cards .subtitle {
  margin: 0px 15px;
}
.Om_digitaltryck .text {
  width: 370px;
}
.Plastkort_med_digitaltryck .text {
  width: 370px;
}
.stripped-table .text {
  width: 370px;
}
.grey-table .text {
width: 370px;
}
}
@media(max-width:375px){
  .offert-plastkort h1 {
    font-size: 40px !important;
}
.pdf_above_description .description {
  width: 330px;
}
.parter .inner-txt {
  width: 330px;
}
.cards .heading {
  font-size: 2.1rem;
}
.signature .text {
  width: 330px;
}
.content h1 {
  font-size: 2.7rem !important;
}
.cards .cards-container {
  grid-template-columns: auto;
}
.Varför_välja_plastkort .text {
width: 330px;
}
.banner {
width: 93%;
}

.banner .banner-container .logo-grid {
  gap:0.5rem;
}
.cards .subtitle {
margin: 0px 15px;
}
.Om_digitaltryck .text {
width: 330px;
}
.Plastkort_med_digitaltryck .text {
width: 330px;
}
.stripped-table .text {
width: 330px;
}
.grey-table .text {
width: 330px;
}
}
@media(max-width:340px){
  .pdf_above_description .description {
    width: 300px;
  }
  .parter .inner-txt {
    width: 300px;
  }
  .cards .heading {
    font-size: 2rem;
  }
  .signature .text {
    width: 300px;
  }
  .content h1 {
    font-size: 2.7rem !important;
  }
  .cards .cards-container {
    grid-template-columns: auto;
  }
  .Varför_välja_plastkort .text {
  width: 300px;
  }
  .banner {
  width: 90%;
  }
  
  .banner .banner-container .logo-grid {
    gap:1.5rem;
  }
  .banner .banner-container .logo-grid .logo-item{
    width: 64px;
  }
  .banner .banner-container .logo-grid .logo-item .logo-icon{
    width: 2.9rem;
  }
  .cards .subtitle {
  margin: 0px 15px;
  }
  .Om_digitaltryck .text {
  width: 300px;
  }
  .Plastkort_med_digitaltryck .text {
  width: 300px;
  }
  .stripped-table .text {
  width: 300px;
  }
  .grey-table .text {
  width: 300px;
  }
}
@media(max-width:320px){
  .offert-plastkort h1 {
    font-size: 35px !important;
}
textarea{
  height: 152px;
  width: 258px !important;
  margin: 10px 0px;
}
  .wrapper-logo{
    width: 250px;
  }

.pdf_above_description .description {
  width: 280px;
}
.parter .inner-txt {
  width: 280px;
}
.cards .heading {
  font-size: 1.8rem;
}
.signature .text {
  width: 280px;
}
.content h1 {
  font-size: 2.7rem !important;
}
.cards .cards-container .card .card-img img {
  width: 300px;
  height: 300px;
}
.cards .cards-container {
  grid-template-columns: auto;
}
.Varför_välja_plastkort .text {
width: 280px;
}
.cards .subtitle {
margin: 0px 15px;
}
.Om_digitaltryck .text {
width: 280px;
}
.Plastkort_med_digitaltryck .text {
width: 280px;
}
.stripped-table .text {
width: 280px;
}
.grey-table .text {
width: 280px;
}
}